.calendar{
    margin: auto;
    text-align: center;
}

.calendar .calendarOptions{
    margin-top: 50px;
    justify-content: start;
    display: flex;
    flex-direction: row;
}

.calendar .calendarOptions *{
    border: 0;
    background-color: #ffffff;
    font-size: 20px;
}

.calendar .calendarOptions :first-child{
    margin-left: 80px;
}

.calendar .calendarOptions > :nth-child(2){
    margin-left: auto;
    margin-right: 80px;
}



.calendar .scheduleBox {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(125, 125, 125, 0.3);
    transform: translateX("-300px");
    z-index: 200;
    justify-content: end;
}

.calendar .scheduleContent {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: #ffffff;

}

.calendar .optionBox {
    display: flex;
    width: 100%;
    height: 100%;
    //border: 1px solid #111;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(125, 125, 125, 0.3);
    transform: translateX("-300px");
    z-index: 200;
    justify-content: end;
}

.calendar .optionContent {
    display: flex;
    
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    flex-direction: column;
    width: 500px;
    height: 100%;
    background-color: #ffffff;

}

.calendar .insertForm{
    width: 430px;
    height:300px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: left;
}

.calendar .insertForm > form{
    padding-top: 20px;
}

.calendar .insertForm > form > *{
    margin-top: 10px;
}

.calendar .insertForm > form > .date{
    text-align: center;
    margin-bottom: 20px;
}

.calendar .insertForm > form > .date > *{
    margin-top: 10px;
}

.calendar .insertForm .content > *{
    
    width: 80%;
    height: 30px;
}

.calendar .insertForm .registDate{
    
    border: 0;
    width: 400px;
}

.calendar .eventList{
    border-top: #111 1px solid;
    width: 430px;
    height:300px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: left;
}

.calendar .eventList .event{
    margin-top: 10px;
    
}

.calendar .eventList .event > h4{
    display: inline-block;
}

.calendar .circle-picker{
    position: fixed;
    bottom: 150px;
    right: -120px;
    
}

.calendar .colorBtn{
    border-radius: 50%;
    border: 0px;
}

.calendar .circle-picker *{
    margin: 0 auto;
}

.calendar .text{
    border: 0;
    width: 80%;
    height: 30px;
}

.calendar select{
    border: 0;
}

.calendar .insertCalendar{
    width: 430px;
    height:100px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: left;
}

.calendar .calendarList{
    border-top: #111 1px solid;
    width: 430px;
    height:300px;
    //margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: left;
}

.calendar .calendarType{
    margin-top: 20px;
}